<div>
    <h2 data-translate="appApp.asset.home.title">Assets</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="asset.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="appApp.asset.home.createLabel">
                        Create new Asset
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="appApp.asset.parentId">Parent Id</span></th>
                    <th><span data-translate="appApp.asset.name">Name</span></th>
                    <th><span data-translate="appApp.asset.location">Location</span></th>
                    <th><span data-translate="appApp.asset.details">Details</span></th>
                    <th><span data-translate="appApp.asset.code">Code</span></th>
                    <th><span data-translate="appApp.asset.assetType">Asset Type</span></th>
                    <th><span data-translate="appApp.asset.manufacture">Manufacture</span></th>
                    <th><span data-translate="appApp.asset.typeVal">Type Val</span></th>
                    <th><span data-translate="appApp.asset.capacity">Capacity</span></th>
                    <th><span data-translate="appApp.asset.year">Year</span></th>
                    <th><span data-translate="appApp.asset.supervisor">Supervisor</span></th>
                    <th><span data-translate="appApp.asset.technician">Technician</span></th>
                    <th><span data-translate="appApp.asset.maps">Maps</span></th>
                    <th><span data-translate="appApp.asset.otherFiles">Other Files</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="asset in vm.assets track by asset.id">
                    <td><a ui-sref="asset-detail({id:asset.id})">{{asset.id}}</a></td>
                    <td>{{asset.parentId}}</td>
                    <td>{{asset.name}}</td>
                    <td>{{asset.location}}</td>
                    <td>{{asset.details}}</td>
                    <td>{{asset.code}}</td>
                    <td data-translate="{{'appApp.AssetType.' + asset.assetType}}">{{asset.assetType}}</td>
                    <td>{{asset.manufacture}}</td>
                    <td>{{asset.typeVal}}</td>
                    <td>{{asset.capacity}}</td>
                    <td>{{asset.year}}</td>
                    <td>
                        {{asset.supervisorId}}
                    </td>
                    <td>
                        {{asset.technicianId}}
                    </td>
                    <td>
                        <span ng-repeat="maps in asset.maps">
                            <a class="form-control-static" ui-sref="upload-file-detail({id: maps.id})">{{maps.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td>
                        <span ng-repeat="otherFiles in asset.otherFiles">
                            <a class="form-control-static" ui-sref="upload-file-detail({id: otherFiles.id})">{{otherFiles.id}}</a>{{$last ? '' : ', '}}
                        </span>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="asset-detail({id:asset.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="asset.edit({id:asset.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="asset.delete({id:asset.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
