
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myWorkOrderScheduleLabel" data-translate="appApp.workOrderSchedule.home.createOrEditLabel">Create or edit a Work Order Schedule</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.workOrderSchedule.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.workOrderSchedule.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.workOrderSchedule.createDate" for="field_createDate">Create Date</label>
                <div class="input-group">
                    <input id="field_createDate" type="text" class="form-control" name="createDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.workOrderSchedule.createDate" is-open="vm.datePickerOpenStatus.createDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('createDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.workOrderSchedule.expireDate" for="field_expireDate">Expire Date</label>
                <div class="input-group">
                    <input id="field_expireDate" type="text" class="form-control" name="expireDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.workOrderSchedule.expireDate" is-open="vm.datePickerOpenStatus.expireDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('expireDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.workOrderSchedule.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.workOrderSchedule.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.workOrderSchedule.scheduleStatus" for="field_scheduleStatus">Schedule Status</label>
            <select class="form-control" name="scheduleStatus" ng-model="vm.workOrderSchedule.scheduleStatus" id="field_scheduleStatus">
                <option value="NOT_STARTED" data-translate="appApp.ScheduleStatus.NOT_STARTED">NOT_STARTED</option>
                <option value="IN_PROGRESS" data-translate="appApp.ScheduleStatus.IN_PROGRESS">IN_PROGRESS</option>
                <option value="COMPLETED" data-translate="appApp.ScheduleStatus.COMPLETED">COMPLETED</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.workOrderSchedule.completedDate" for="field_completedDate">Completed Date</label>
                <div class="input-group">
                    <input id="field_completedDate" type="text" class="form-control" name="completedDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.workOrderSchedule.completedDate" is-open="vm.datePickerOpenStatus.completedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('completedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="appApp.workOrderSchedule.workOrder" for="field_workOrder">Work Order</label>
            <select class="form-control" id="field_workOrder" name="workOrder" ng-model="vm.workOrderSchedule.workOrder" ng-options="workOrder as workOrder.id for workOrder in vm.workorders track by workOrder.id">
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="appApp.workOrderSchedule.asset" for="field_asset">Asset</label>
            <select class="form-control" id="field_asset" name="asset" ng-model="vm.workOrderSchedule.asset" ng-options="asset as asset.id for asset in vm.assets track by asset.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.asset.$invalid">
            <p class="help-block"
                ng-show="editForm.asset.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="appApp.workOrderSchedule.workOrderTemplate" for="field_workOrderTemplate">Work Order Template</label>
            <select class="form-control" id="field_workOrderTemplate" name="workOrderTemplate" ng-model="vm.workOrderSchedule.workOrderTemplate" ng-options="workOrderTemplate as workOrderTemplate.id for workOrderTemplate in vm.workordertemplates track by workOrderTemplate.id" required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.workOrderTemplate.$invalid">
            <p class="help-block"
                ng-show="editForm.workOrderTemplate.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
