
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myWorkOrderTemplateLabel" data-translate="appApp.workOrderTemplate.home.createOrEditLabel">Create or edit a Work Order Template</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.workOrderTemplate.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.workOrderTemplate.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.workOrderTemplate.numberOfDays" for="field_numberOfDays">Number Of Days</label>
            <input type="number" class="form-control" name="numberOfDays" id="field_numberOfDays"
                    ng-model="vm.workOrderTemplate.numberOfDays"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.workOrderTemplate.hoursOfUsage" for="field_hoursOfUsage">Hours Of Usage</label>
            <input type="number" class="form-control" name="hoursOfUsage" id="field_hoursOfUsage"
                    ng-model="vm.workOrderTemplate.hoursOfUsage"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.workOrderTemplate.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.workOrderTemplate.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.workOrderTemplate.dueDays" for="field_dueDays">Due Days</label>
            <input type="number" class="form-control" name="dueDays" id="field_dueDays"
                    ng-model="vm.workOrderTemplate.dueDays"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.workOrderTemplate.workOrderType" for="field_workOrderType">Work Order Type</label>
            <select class="form-control" name="workOrderType" ng-model="vm.workOrderTemplate.workOrderType" id="field_workOrderType" required>
                <option value="y" data-translate="appApp.WorkOrderTemplateType.y">y</option>
            </select>
            <div ng-show="editForm.workOrderType.$invalid">
                <p class="help-block"
                    ng-show="editForm.workOrderType.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.workOrderTemplate.functionType" for="field_functionType">Function Type</label>
            <select class="form-control" name="functionType" ng-model="vm.workOrderTemplate.functionType" id="field_functionType" required>
                <option value="DAILY" data-translate="appApp.WorkOrderTemplateFunctionType.DAILY">DAILY</option>
                <option value="USAGE_HOURS" data-translate="appApp.WorkOrderTemplateFunctionType.USAGE_HOURS">USAGE_HOURS</option>
            </select>
            <div ng-show="editForm.functionType.$invalid">
                <p class="help-block"
                    ng-show="editForm.functionType.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.workOrderTemplate.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.workOrderTemplate.name"
                    required />
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="appApp.workOrderTemplate.assetSpecificationType" for="field_assetSpecificationType">Asset Specification Type</label>
            <select class="form-control" id="field_assetSpecificationType" name="assetSpecificationType" ng-model="vm.workOrderTemplate.assetSpecificationTypeId" ng-options="assetSpecificationType.id as assetSpecificationType.id for assetSpecificationType in vm.assetspecificationtypes"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.assetSpecificationType.$invalid">
            <p class="help-block"
                ng-show="editForm.assetSpecificationType.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
