
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAssetSpecificationTypeFieldLabel" data-translate="appApp.assetSpecificationTypeField.home.createOrEditLabel">Create or edit a Asset Specification Type Field</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.assetSpecificationTypeField.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.assetSpecificationTypeField.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.assetSpecificationTypeField.fieldLabel" for="field_fieldLabel">Field label</label>
            <input type="text" class="form-control" name="fieldLabel" id="field_fieldLabel"
                    ng-model="vm.assetSpecificationTypeField.fieldLabel"
                    required />
            <div ng-show="editForm.fieldLabel.$invalid">
                <p class="help-block"
                    ng-show="editForm.fieldLabel.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.assetSpecificationTypeField.fieldName" for="field_fieldName">Field Name</label>
            <input type="text" class="form-control" name="fieldName" id="field_fieldName"
                    ng-model="vm.assetSpecificationTypeField.fieldName"
                    required />
            <div ng-show="editForm.fieldName.$invalid">
                <p class="help-block"
                    ng-show="editForm.fieldName.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.assetSpecificationTypeField.fieldType" for="field_fieldType">Field Type</label>
            <input type="text" class="form-control" name="fieldType" id="field_fieldType"
                    ng-model="vm.assetSpecificationTypeField.fieldType"
                    required />
            <div ng-show="editForm.fieldType.$invalid">
                <p class="help-block"
                    ng-show="editForm.fieldType.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label data-translate="appApp.assetSpecificationTypeField.assetSpecificationType" for="field_assetSpecificationType">Asset Specification Type</label>
            <select class="form-control" id="field_assetSpecificationType" name="assetSpecificationType" ng-model="vm.assetSpecificationTypeField.assetSpecificationTypeId" ng-options="assetSpecificationType.id as assetSpecificationType.id for assetSpecificationType in vm.assetspecificationtypes"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
