<div>
    <div id="{{handler}}" class="{{reusableModalClass}} modal fade" tabindex="-1" role="dialog" data-backdrop="static"
         data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">
                        &times;
                    </button>
                    <h4 class="modal-title">{{header}}</h4>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <span ng-hide="angular.equals({}, footer)" ng-bind-html="footer"></span>
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="closeModal()">
                        {{$root.getWord('Cancel')}}
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
</div>