<div class="form-horizontal">
    <header>
        {{$root.getWord('Asset Details')}}
    </header>
<input type="hidden" name="assetParent[{{currentStep}}]" value="{{parentStep}}" />
    <fieldset>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">{{$root.getWord('Type')}}</label>
                <div class="col-md-12">
                    <select class="form-control" ng-model="asset.assetType" ng-disabled="disableForm" ng-change="toggleAssetForm()">
                        <option value="ASSET_GROUP">{{$root.getWord('Asset Group')}}</option>
                        <option value="ASSET">{{$root.getWord('Asset')}}</option>
                        <option value="SUB_ASSET">{{$root.getWord('Sub Asset')}}</option>
                    </select>
                </div>
            </div>
        </div>
    </fieldset>
    <br>
    <fieldset ng-show="hasSubTree">
        <div class="row">
            <div class="col-md-6 ">
                <label class="control-label">{{$root.getWord('Asset Group Name')}}</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" ng-model="asset.name" ng-disabled="disableForm">
                </div>
            </div>


            <div class="col-md-6">
                <label class="control-label">{{$root.getWord('Asset Code')}}</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" ng-model="asset.code" ng-disabled="disableForm">
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset ng-hide="hasSubTree">
        <div class="row">
            <div class="col-md-6 ">
                <label class="control-label">{{$root.getWord('Asset Name')}}</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" ng-model="asset.name" ng-disabled="disableForm">
                </div>
            </div>

            <div class="col-md-6 ">
                <label class="control-label">{{$root.getWord('Asset Code')}}</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" ng-model="asset.code" ng-disabled="disableForm">
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 ">
                <label class="control-label">{{$root.getWord('Asset Type')}}</label>
                <div class="col-md-12">
                    <select class="form-control" ng-model="asset.typeVal" ng-disabled="disableForm">
                        <option value="PUMP">{{$root.getWord('Pump')}}</option>
                        <option value="ELECTROMOTOR">{{$root.getWord('Electromotor')}}</option>
                    </select> <i></i>
                </div>
            </div>

            <div class="col-md-6 ">
                <label class="control-label">{{$root.getWord('Installation Location')}}</label>
                <div class="col-md-12">
                    <input type="text" class="form-control" ng-model="asset.location" ng-disabled="disableForm">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <label class="control-label">{{$root.getWord('Installation Map')}}</label>

                <div class="col-md-12">
                    <input type="file" class="btn btn-default col-md-12 col-xs-12"
                           id="exampleInputFile2" ng-disabled="disableForm">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">{{$root.getWord('Capacity')}}</label>

                <div class="col-md-12">
                    <span ng-if="disableForm">
                        <input class="form-control" value="1"
                               min="1" ng-model="asset.capacity" ng-disabled="disableForm">
                    </span>
                    <span ng-if="!disableForm">
                        <input class="form-control" name="spinner" value="1"
                               min="1" ng-model="asset.capacity">
                    </span>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 ">
                <label class="control-label">{{$root.getWord('Manufacture')}}</label>
                <div class="col-md-12">
                    <input class="form-control" placeholder="{{$root.getWord('Type something')}}..." type="text"
                           list="list" ng-model="asset.manufacture" ng-disabled="disableForm">
                    <datalist id="list">
                        <option value="Alexandra">Alexandra</option>
                        <option value="Alice">Alice</option>
                        <option value="Anastasia">Anastasia</option>
                        <option value="Avelina">Avelina</option>
                        <option value="Basilia">Basilia</option>
                        <option value="Beatrice">Beatrice</option>
                        <option value="Cassandra">Cassandra</option>
                        <option value="Cecil">Cecil</option>
                        <option value="Clemencia">Clemencia</option>
                        <option value="Desiderata">Desiderata</option>
                        <option value="Dionisia">Dionisia</option>
                        <option value="Edith">Edith</option>
                        <option value="Eleanora">Eleanora</option>
                        <option value="Elizabeth">Elizabeth</option>
                        <option value="Emma">Emma</option>
                        <option value="Felicia">Felicia</option>
                        <option value="Florence">Florence</option>
                        <option value="Galiana">Galiana</option>
                        <option value="Grecia">Grecia</option>
                        <option value="Helen">Helen</option>
                        <option value="Helewisa">Helewisa</option>
                        <option value="Idonea">Idonea</option>
                        <option value="Isabel">Isabel</option>
                        <option value="Joan">Joan</option>
                        <option value="Juliana">Juliana</option>
                        <option value="Karla">Karla</option>
                        <option value="Karyn">Karyn</option>
                        <option value="Kate">Kate</option>
                        <option value="Lakisha">Lakisha</option>
                        <option value="Lana">Lana</option>
                        <option value="Laura">Laura</option>
                        <option value="Leona">Leona</option>
                        <option value="Mandy">Mandy</option>
                        <option value="Margaret">Margaret</option>
                        <option value="Maria">Maria</option>
                        <option value="Nanacy">Nanacy</option>
                        <option value="Nicole">Nicole</option>
                        <option value="Olga">Olga</option>
                        <option value="Pamela">Pamela</option>
                        <option value="Patricia">Patricia</option>
                        <option value="Qiana">Qiana</option>
                        <option value="Rachel">Rachel</option>
                        <option value="Ramona">Ramona</option>
                        <option value="Samantha">Samantha</option>
                        <option value="Sandra">Sandra</option>
                        <option value="Tanya">Tanya</option>
                        <option value="Teresa">Teresa</option>
                        <option value="Ursula">Ursula</option>
                        <option value="Valerie">Valerie</option>
                        <option value="Veronica">Veronica</option>
                        <option value="Wilma">Wilma</option>
                        <option value="Yasmin">Yasmin</option>
                        <option value="Zelma">Zelma</option>
                    </datalist>
                </div>

            </div>

            <div class="col-md-6 ">
                <label class="control-label">{{$root.getWord('Manufacture Year')}}</label>
                <div class="col-md-12">
                    <select class="form-control" ng-model="asset.year"  ng-disabled="disableForm" ng-options="o as o for o in years">
                    </select> <i></i>
                </div>
            </div>
        </div>
    </fieldset>
    <br>
    <fieldset ng-hide="hasSubTree">
        <div class="row">

            <div class="col-md-12">
                <label class="control-label">{{$root.getWord('Attachments')}}</label>

                <div class="col-md-12">
                    <input type="file" class="btn btn-default col-md-12 col-xs-12"
                           id="exampleInputFile3" ng-disabled="disableForm">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <label class="control-label">{{$root.getWord('Details')}}</label>

                <div class="col-md-12 textarea textarea-expandable ">
                    <textarea rows="3" ng-model="asset.details" class="custom-scroll form-control" ng-disabled="disableForm">{{assetList.details}}</textarea>
                </div>
            </div>
        </div>
    </fieldset>
    <br>
    <fieldset ng-show="state == 'A'">
        <div class="row">
            <div class="col-md-12">
                <label class="col-md-2">{{$root.getWord('Next Step Configuration')}}</label>

                    <div class="col-md-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="checkbox style-0" name="hasNextStep" ng-model="hasNextStep" value="1">
                                <span>{{$root.getWord('Has Next Step')}}</span>
                            </label>
                        </div>
                    </div>
            </div>
        </div>
    </fieldset>
</div>
