<div>
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="assetHistoryVm.clear()">&times;
            </button>
            <h4 class="modal-title" id="myAssetLabel">{{$root.getWord('Work Order Schedule Detail')}}</h4>
        </div>
        <div class="modal-body">
            <div class="smart-timeline">
                <ul class="smart-timeline-list">
                    <li ng-repeat="workOrderHistory in assetHistoryVm.entity track by $index">
                        <div class="smart-timeline-icon" ng-if="workOrderHistory.historyStatus == 'CREATED'">
                            {{workOrderHistory.workOrderSchedule.workOrderTemplate.workOrderType}}
                        </div>
                        <div class="smart-timeline-icon bg-color-blueLight" ng-if="workOrderHistory.historyStatus == 'REOPENED'">
                            <i class="fa fa-folder-open"></i>
                        </div>
                        <div class="smart-timeline-icon bg-color-red" ng-if="workOrderHistory.historyStatus == 'DELAYED'">
                            <i class="fa fa-clock-o"></i>
                        </div>
                        <div class="smart-timeline-icon bg-color-orange" ng-if="workOrderHistory.historyStatus == 'IN_PROGRESS'">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="smart-timeline-icon bg-color-greenDark" ng-if="workOrderHistory.historyStatus == 'COMPLETED'">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="smart-timeline-time">
                            <small ng-if="workOrderHistory.historyStatus == 'CREATED'">{{workOrderHistory.workOrderSchedule.createDate}}</small>
                            <small ng-if="workOrderHistory.historyStatus != 'CREATED'">{{workOrderHistory.createDate}}</small>
                        </div>

                        <div class="smart-timeline-content">
                            <p>
                                <strong ng-if="workOrderHistory.historyStatus == 'CREATED'"> {{workOrderHistory.workOrderSchedule.workOrderTemplate.name}} [{{$root.getWord(workOrderHistory.workOrderSchedule.workOrderTemplate.functionType)}}]</strong>
                                <strong ng-if="workOrderHistory.historyStatus != 'CREATED'"> <span class="label label-info">{{$root.getWord(workOrderHistory.historyStatus)}}</span></strong>
                            </p>
                            <div class="well well-sm display-inline">
                                <p ng-if="workOrderHistory.historyStatus == 'CREATED'">{{workOrderHistory.workOrderSchedule.workOrderTemplate.description}}</p>
                                <p ng-if="workOrderHistory.historyStatus != 'CREATED'">{{workOrderHistory.comment}}</p>
                                <!--<button class="btn btn-xs btn-default">Confirm Attendance</button>-->
                            </div>
                        </div>
                    </li>
                    <!--<li class="text-center">-->
                        <!--<a href-void class="btn btn-sm btn-default"><i class="fa fa-arrow-down text-muted"></i> LOAD-->
                            <!--MORE</a>-->
                    <!--</li>-->
                </ul>
            </div>
        </div>
</div>
