<div>
    <form name="workOrderTemplateSwitchForm" class="form-group" role="form" ng-submit="vm.save()"
          novalidate show-validation>

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    ng-click="vm.clear()">&times;
            </button>
            <h4 class="modal-title" id="myAssetLabel">{{$rootScope.getWord('Manage work orders')}}</h4>
        </div>
        <div class="modal-body">
            <div class="step-content">
                <div class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>{{$root.getWord('Name')}}</th>
                                    <th>{{$root.getWord('Work order type')}}</th>
                                    <th>{{$root.getWord('Work order function')}}</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="workOrderTemplate in vm.workOrderTemplates" ng-if="workOrderTemplate.assign === true">
                                    <td>{{workOrderTemplate.name}}</td>
                                    <td>{{workOrderTemplate.workOrderType}}</td>
                                    <td>{{$root.getWord(workOrderTemplate.functionType)}}</td>
                                    <td>
                                            <span class="onoffswitch">
                                                <input type="checkbox" name="started"
                                                       class="onoffswitch-checkbox" id="st{{workOrderTemplate.id}}"
                                                       ng-model="workOrderTemplate.track"
                                                       value="{{workOrderTemplate.track}}"
                                                       ng-checked="workOrderTemplate.track">
                                                <label class="onoffswitch-label" for="st{{workOrderTemplate.id}}">
                                                    <span class="onoffswitch-inner" data-swchon-text="ON"
                                                          data-swchoff-text="OFF"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                    <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" class="btn btn-primary" ng-hide="vm.disabled"
                        ng-disabled="workOrderTemplateSwitchForm.$invalid || vm.isSaving">
                    <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
                </button>
            </div>
        </div>
    </form>
</div>
