
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myWorkOrderLabel" data-translate="appApp.workOrder.home.createOrEditLabel">Create or edit a Work Order</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.workOrder.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.workOrder.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.workOrder.track" for="field_track">Track</label>
            <input type="checkbox" class="form-control" name="track" id="field_track"
                    ng-model="vm.workOrder.track"
                     />
            <div ng-show="editForm.track.$invalid">
                <p class="help-block"
                    ng-show="editForm.track.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.workOrder.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.workOrder.description"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="appApp.workOrder.trackDate" for="field_trackDate">Track Date</label>
                <div class="input-group">
                    <input id="field_trackDate" type="text" class="form-control" name="trackDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.workOrder.trackDate" is-open="vm.datePickerOpenStatus.trackDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('trackDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>

        <div class="form-group">
            <label data-translate="appApp.workOrder.asset" for="field_asset">Asset</label>
            <select class="form-control" id="field_asset" name="asset" ng-model="vm.workOrder.assetId" ng-options="asset.id as asset.id for asset in vm.assets"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.asset.$invalid">
            <p class="help-block"
                ng-show="editForm.asset.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
        <div class="form-group">
            <label data-translate="appApp.workOrder.workOrderTemplate" for="field_workOrderTemplate">Work Order Template</label>
            <select class="form-control" id="field_workOrderTemplate" name="workOrderTemplate" ng-model="vm.workOrder.workOrderTemplateId" ng-options="workOrderTemplate.id as workOrderTemplate.id for workOrderTemplate in vm.workordertemplates"             required>
                <option value=""></option>
            </select>
        </div>
        <div ng-show="editForm.workOrderTemplate.$invalid">
            <p class="help-block"
                ng-show="editForm.workOrderTemplate.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
