<div>
    <h2 data-translate="appApp.workOrder.home.title">Work Orders</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="work-order.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="appApp.workOrder.home.createLabel">
                        Create new Work Order
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="track"><span data-translate="appApp.workOrder.track">Track</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="appApp.workOrder.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="trackDate"><span data-translate="appApp.workOrder.trackDate">Track Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="assetId"><span data-translate="appApp.workOrder.asset">Asset</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="workOrderTemplateId"><span data-translate="appApp.workOrder.workOrderTemplate">Work Order Template</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="workOrder in vm.workOrders track by workOrder.id">
                    <td><a ui-sref="work-order-detail({id:workOrder.id})">{{workOrder.id}}</a></td>
                    <td>{{workOrder.track}}</td>
                    <td>{{workOrder.description}}</td>
                        <td>{{workOrder.trackDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="asset-detail({id:workOrder.assetId})">{{workOrder.assetId}}</a>
                    </td>
                    <td>
                        <a ui-sref="work-order-template-detail({id:workOrder.workOrderTemplateId})">{{workOrder.workOrderTemplateId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="work-order-detail({id:workOrder.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="work-order.edit({id:workOrder.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="work-order.delete({id:workOrder.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
