/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the
 * later versions of this theme.
 *
 * We advise that you use use this CSS to override
 * SmartAdmin styles.
 *
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 *
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

/*@font-face {*/
/*font-family: 'Nassim Arabic Bold';*/
/*src: url('../fonts/nassim-bold.eot?version=0.1');*/
/*src: url('../fonts/nassim-bold.eot?version=0.1') format('embedded-opentype'), url('../fonts/nassim-bold.woff?version=0.1') format('woff'), url('../fonts/nassim-bold.ttf?version=0.1') format('opentype');*/
/*font-weight: bold;*/
/*font-style: normal*/
/*}*/

/*@font-face {*/
/*font-family: 'Nassim Arabic Regular';*/
/*src: url('../fonts/nassim.eot?version=0.1');*/
/*src: url('../fonts/nassim.eot?version=0.1') format('embedded-opentype'), url('../fonts/nassim.woff?version=0.1') format('woff'), url('../fonts/nassim.ttf?version=0.1') format('opentype');*/
/*font-weight: normal;*/
/*font-style: normal*/
/*}*/

body, h1, h2, h3, h4 {
    /*font-family: "Nassim Arabic Regular", Tahoma, Geneva, Verdana, sans-serif;*/
    font-family: Tahoma, Geneva, Verdana, sans-serif !important;
}

.dashboard-stats-val {
    font-size: 4em;
    height: 85px;
}

.dashboard-stats {
}

.smart-rtl .tree-grid .level-1 .indented {
    left: auto;
    right: 0;
}

.smart-rtl .tree-grid .level-2 .indented {
    right: 20px;
    left: auto;
}

.smart-rtl .tree-grid .level-3 .indented {
    right: 40px;
    left: auto;
}

.smart-rtl .tree-grid .level-4 .indented {
    right: 60px;
    left: auto;
}

.smart-rtl .tree-grid .level-5 .indented {
    right: 80px;
    left: auto;
}

.smart-rtl .tree-grid .level-6 .indented {
    right: 100px;
    left: auto;
}

.smart-rtl .tree-grid .level-7 .indented {
    right: 120px;
    left: auto;
}

.smart-rtl .tree-grid .level-8 .indented {
    right: 140px;
    left: auto;
}

.smart-rtl .tree-grid .level-9 .indented {
    right: 160px;
    left: auto;
}

.angle-up:before {
    content: "\f106";
}

.angle-down:before {
    content: "\f107";
}

/*!
* angular-touchspin JavaScript Library v1.4.1
*
* @license MIT
*
* built with ♥ by Niko Kovačič <niko.kovacic2@gmail.com>
*/
.bootstrap-touchspin .input-group-btn-vertical {
    position: relative;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
    display: table-cell;
}

.bootstrap-touchspin .input-group-btn-vertical > .btn {
    display: block;
    float: none;
    width: 100%;
    max-width: 100%;
    padding: 8px 10px;
    margin-left: -1px;
    position: relative;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-up {
    border-radius: 0;
    border-top-right-radius: 4px;
}

.bootstrap-touchspin .input-group-btn-vertical .bootstrap-touchspin-down {
    margin-top: -2px;
    border-radius: 0;
    border-bottom-right-radius: 4px;
}

.bootstrap-touchspin .input-group-btn-vertical i {
    position: absolute;
    top: 3px;
    left: 5px;
    font-size: 9px;
    font-weight: normal;
}

.height-150 {
    height: 312px;
}

.bottom-element {
    position: relative;
    bottom: 0px;
}


/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}
